  /* css parts from https://github.com/poole/poole */
  .container {
    max-width: 38rem;
    padding-left:  1rem;
    padding-right: 1rem;
    margin-left:  auto;
    margin-right: auto;
  }
  
  html,
  body {
    margin: 0;
    padding: 0;
  }
  
  html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
  }
  @media (min-width: 38rem) {
    html {
      font-size: 20px;
    }
  }
  
  body {
    color: #515151;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
  }
  
  /* No `:visited` state is required by default (browsers will use `a`) */
  a {
    color: #268bd2;
    text-decoration: none;
  }
  /* `:focus` is linked to `:hover` for basic accessibility */
  a:hover,
  a:focus {
    text-decoration: underline;
  }
  
  /* Headings */
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-weight: bold;
    line-height: 1.25;
    color: #313131;
    text-rendering: optimizeLegibility;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    margin-top: 1rem;
    font-size: 1.5rem;
  }
  h3 {
    margin-top: 1.5rem;
    font-size: 1.25rem;
  }
  h4, h5, h6 {
    margin-top: 1rem;
    font-size: 1rem;
  }
  
  /* Body text */
  p {
    margin-top: 0;
    margin-bottom: 1rem;
  }
  
  strong {
    color: #303030;
  }
  
  /* Lists */
  ul, ol, dl {
    margin-top: 0;
    margin-bottom: 0.1rem;
  }

  .page,
  .post {
    margin-bottom: 4em;
  }
  
  /* Blog post or page title */
  .page-title,
  .post-title,
  .post-title a {
    color: #303030;
  }
  .page-title,
  .post-title {
    margin-top: 0;
  }
  
  /* Meta data line below post title */
  .post-date {
    display: block;
    margin-top: -.5rem;
    margin-bottom: 0.1rem;
    color: #9a9a9a;
  }

    /* Quotes */
  blockquote {
    padding: .5rem 1rem;
    margin: .8rem 0;
    color: #7a7a7a;
    border-left: .25rem solid #e5e5e5;
  }
  blockquote p:last-child {
    margin-bottom: 0;
  }
  @media (min-width: 30rem) {
    blockquote {
      padding-right: 5rem;
      padding-left: 1.25rem;
    }
  }
  
  code,
  pre {
    font-family: Menlo, Monaco, "Courier New", monospace;
  }
  code {
    padding: .25em .5em;
    font-size: 80%;
    color: #313131;
    background-color: #e9e9e9;
    border-radius: 3px;
  }
  pre {
    display: block;
    margin-top: 0;
    margin-bottom: 1rem;
    padding: 1rem;
    font-size: .8rem;
    line-height: 1.4;
    white-space: pre;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f9f9f9;
  }
  pre code {
    padding: 0;
    font-size: 100%;
    color: inherit;
    background-color: transparent;
  }
  .highlight {
    margin-bottom: 1rem;
    border-radius: 4px;
  }
  .highlight pre {
    margin-bottom: 0;
  }

  .site-footer {
    position:relative;
    margin-top:20px;
    padding-top:10px;
    padding-bottom:20px;
    padding-right: 5px;
    font-size:14px;
    line-height:1;
    color:#767676;
    border-top:1px solid #ccc;
    text-align: right;
  }
  
  .masthead {
    padding-top:    1rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
  }
  .masthead-title {
    margin-top: 0;
    margin-bottom: 0;
    color: #505050;
  }
  .masthead-title a {
    color: #505050;
  }
  .masthead-title small {
    font-size: 50%;
    font-weight: 400;
    color: #c0c0c0;
    letter-spacing: 0;
  }

  .masthead-title img {
    display: inline;
    margin: 0rem;
    border-radius: 0px;
  }
  
  img {
    display: block;
    max-width: 100%;
    margin: 0.5rem 0 0.5rem 0.5rem;
    /*padding-top: 0.5rem;*/
    border-radius: 5px;
  }

  .question{
    display: list-item;
    list-style-type: disc;
    font-weight: bold;
    color: #303030;
  }