<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TimeNazi.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
        autoReload="true"
        throwExceptions="false"
        internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log" >
    <!-- optional, add some variabeles  https://github.com/nlog/NLog/wiki/Configuration-file#variables  -->
    <variable name="myvar" value="myvalue"/>
    <!--   See https://github.com/nlog/nlog/wiki/Configuration-file for information on customizing logging rules and outputs.   -->
    <targets>
      <!--  add your targets here See https://github.com/nlog/NLog/wiki/Targets for possible targets. See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers. -->
      <!--  Writing events to the a file with the date in the filename. <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log" layout="${longdate} ${uppercase:${level}} ${message}" /> -->
      <target xsi:type="File" name="f" fileName="${specialfolder:folder=LocalApplicationData}/Noti/TimeNazi/Logs/app_${shortdate}.log" layout="[${longdate}][${uppercase:${level}}][${logger}] ${message}" />
    </targets>
    <rules>
      <!-- add your logging rules here -->
      <!-- Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace) to "f" <logger name="*" minlevel="Debug" writeTo="f" /> -->
      <logger name="*" minlevel="Debug" writeTo="f" />
    </rules>
  </nlog>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <TimeNazi.Properties.Settings>
      <setting name="WorkTime" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="SnoozeTime" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="RestTime" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="ShowClock" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ClockOpacity" serializeAs="String">
        <value>70</value>
      </setting>
      <setting name="NumberOfSnoozes" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="PauseTimeout" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="UseDataBase" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DatabaseKeyFile" serializeAs="String">
        <value />
      </setting>
      <setting name="BackgroundImagesSource" serializeAs="String">
        <value>http://notisrac.github.io/TimeNazi/files.list</value>
      </setting>
      <setting name="ClockFormPosition" serializeAs="String">
        <value>10, 10</value>
      </setting>
    </TimeNazi.Properties.Settings>
  </userSettings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="bin" />
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.29.0" newVersion="4.2.29.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>